* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5vh;
  margin-left: 5vw;
  margin-right: 5vw;
  padding-bottom: 3vw;
  color: black;
  background: #f8fbfd;
}

.user-link {
  text-decoration: none;
  color: black;
}

.user-container,
.user-bio,
.post-title {
  position: relative;
  display: flex;
  align-items: center;
  gap: 2rem;
  width: 80vw;
  padding: 2rem;
  margin-bottom: 20px;
  border: 0.2px solid #f3f3f4;
}

.user-container {
  background: #fff;
  border-bottom: 6px solid #69dcd0;
  border-radius: 8px;
  box-shadow: 4px 4px 6px #c0bfbf;
}

.post-title {
  display: flex !important;
  justify-content: space-around !important;
  border: none !important;
}

.post-details-text {
  margin-left: 5%;
}

.post-container,
.post-details-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2rem;
  width: 80vw;
  padding: 2rem;
  margin-bottom: 20px;
  border-radius: 8px;
  border: 0.5px solid #f3f3f4;
  background: #fff;
}

.post-container {
  background: #fff;
  border-radius: 8px;
  box-shadow: 2px 2px 4px #c0bfbf;
}

.user-bio {
  display: flex !important;
  flex-direction: column !important;
  align-items: flex-start;
  gap: 1rem !important;
  background: #fff;
}

.user-image {
  max-width: 100px;
  height: 100px;
}

.user-name {
  font-size: 1.5em;
  margin-bottom: 5px;
}

.user-posts,
.post-counters {
  position: absolute;
  bottom: 10px;
  right: 10px;
  text-align: right;
  color: gray;
  margin-top: 5px;
}

.detail-counters {
  color: gray;
}

.post-counters,
.detail-counters {
  display: flex;
  gap: 5px;
}

.view-all-posts {
  padding: 0.5rem;
  background: grey;
  border: 0.5px solid #000;
}

/* forms */
.create-post form {
  display: flex;
  align-items: center;
  gap: 4vw;
}

.field input,
.actions input,
textarea {
  width: 40vw;
  height: 6vh;
  margin-bottom: 10px;
}

.main_div .button button {
  width: 15vw;
  height: 8vh;
  margin: 10px;
}
